<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hms.main.summary.mapper.HsmSummaryMapper">
    
    <resultMap type="HsmSummary" id="HsmSummaryResult">
        <result property="id"    column="id"    />
        <result property="year"    column="year"    />
        <result property="month"    column="month"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="income"    column="income"    />
        <result property="expense"    column="expense"    />
        <result property="balance"    column="balance"    />
        <result property="startDeposit"    column="start_deposit"    />
        <result property="endDeposit"    column="end_deposit"    />
    </resultMap>

    <resultMap id="HsmSummaryHsmDetailResult" type="HsmSummary" extends="HsmSummaryResult">
        <collection property="hsmDetailList" ofType="HsmDetail" column="id" select="selectHsmDetailList" />
    </resultMap>

    <resultMap type="HsmDetail" id="HsmDetailResult">
        <result property="id"    column="id"    />
        <result property="summaryId"    column="summary_id"    />
        <result property="category"    column="category"    />
        <result property="type"    column="type"    />
        <result property="amount"    column="amount"    />
        <result property="changeAmount"    column="change_amount"    />
        <result property="remark"    column="remark"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectHsmSummaryVo">
        select id, year, month, remark, create_time, update_time, income, expense, balance, start_deposit, end_deposit from hsm_summary
    </sql>

    <select id="selectHsmSummaryList" parameterType="HsmSummary" resultMap="HsmSummaryResult">
        <include refid="selectHsmSummaryVo"/>
        <where>  
            <if test="year != null "> and year = #{year}</if>
            <if test="month != null "> and month = #{month}</if>
            <if test="income != null "> and income = #{income}</if>
            <if test="expense != null "> and expense = #{expense}</if>
            <if test="balance != null "> and balance = #{balance}</if>
            <if test="startDeposit != null "> and start_deposit = #{startDeposit}</if>
            <if test="endDeposit != null "> and end_deposit = #{endDeposit}</if>
        </where>
    </select>
    
    <select id="selectHsmSummaryById" parameterType="Long" resultMap="HsmSummaryHsmDetailResult">
        select id, year, month, remark, create_time, update_time, income, expense, balance, start_deposit, end_deposit
        from hsm_summary
        where id = #{id}
    </select>

    <select id="selectHsmDetailList" resultMap="HsmDetailResult">
        select id, summary_id, category, type, amount, change_amount, remark, name
        from hsm_detail
        where summary_id = #{summary_id}
    </select>

    <insert id="insertHsmSummary" parameterType="HsmSummary" useGeneratedKeys="true" keyProperty="id">
        insert into hsm_summary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="year != null">year,</if>
            <if test="month != null">month,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="income != null">income,</if>
            <if test="expense != null">expense,</if>
            <if test="balance != null">balance,</if>
            <if test="startDeposit != null">start_deposit,</if>
            <if test="endDeposit != null">end_deposit,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="year != null">#{year},</if>
            <if test="month != null">#{month},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="income != null">#{income},</if>
            <if test="expense != null">#{expense},</if>
            <if test="balance != null">#{balance},</if>
            <if test="startDeposit != null">#{startDeposit},</if>
            <if test="endDeposit != null">#{endDeposit},</if>
         </trim>
    </insert>

    <update id="updateHsmSummary" parameterType="HsmSummary">
        update hsm_summary
        <trim prefix="SET" suffixOverrides=",">
            <if test="year != null">year = #{year},</if>
            <if test="month != null">month = #{month},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="income != null">income = #{income},</if>
            <if test="expense != null">expense = #{expense},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="startDeposit != null">start_deposit = #{startDeposit},</if>
            <if test="endDeposit != null">end_deposit = #{endDeposit},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHsmSummaryById" parameterType="Long">
        delete from hsm_summary where id = #{id}
    </delete>

    <delete id="deleteHsmSummaryByIds" parameterType="String">
        delete from hsm_summary where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteHsmDetailBySummaryIds" parameterType="String">
        delete from hsm_detail where summary_id in 
        <foreach item="summaryId" collection="array" open="(" separator="," close=")">
            #{summaryId}
        </foreach>
    </delete>

    <delete id="deleteHsmDetailBySummaryId" parameterType="Long">
        delete from hsm_detail where summary_id = #{summaryId}
    </delete>

    <insert id="batchHsmDetail">
        insert into hsm_detail( id, summary_id, category, type, amount, change_amount, remark, name) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.summaryId}, #{item.category}, #{item.type}, #{item.amount}, #{item.changeAmount}, #{item.remark}, #{item.name})
        </foreach>
    </insert>

    <select id="selectHsmDetailByDate" parameterType="Integer" resultMap="HsmSummaryHsmDetailResult">
        select id, year, month, remark, create_time, update_time, income, expense, balance, start_deposit, end_deposit
        from hsm_summary
        where year = #{year} and month = #{month}
    </select>
    <select id="selectLastData" resultMap="HsmSummaryHsmDetailResult">
        select * from hsm_summary order by year,month desc limit 1
    </select>
    <select id="selectLastDetail" resultMap="HsmDetailResult">
        select d.* from hsm_detail d
        inner join (select id from hsm_summary order by year,month desc limit 1)s on s.id=d.summary_id
    </select>
</mapper>